h1,
p {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  width: 100%;
  background-color: lightblue;
}

.albumWrapper {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
}

.photoWrapper {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.album:hover {
  cursor: pointer;
  box-shadow: 10px 5px 10px 2px rgb(53, 52, 52);
  top: -5px;
  left: -5px;
}

.photo {
  width: 200px;
  height: 200px;
  position: absolute;
}

.photoText {
  background-color: rgba(255, 255, 255, 0.44);
  text-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid grey;
  width: 100%;
}

.modal {
  background-color: lightcyan;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
}

.closeBtn {
  font-size: large;
  font-weight: bold;
  padding: 10px 15px;
  margin: 10px;
  color: white;
  background-color: #deb2b2;
  border: 2px solid grey;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
